.course-form {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.course-form div {
    margin-bottom: 20px;
    
}

.course-form input, .course-form select, .course-form button {
    margin-right: 10px;
    padding: 8px;
    font-size: 14px;
}

.course-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.course-form button:hover {
    background-color: #0056b3;
}

.course-form input, .course-form select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.course-form input {
    width: 200px;
}
