.course-list {
    padding: 20px;
    text-align: left;
}

.list-courses-btn {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20cm;
}

.list-courses-btn:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 7cm;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

button:hover {
    color: #0056b3;
}
